{% extends 'base.html.twig' %}

{% block body %}
    <h3>Nowy pracownik</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Dodaj" class="btn btn-success" role="button"/>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('worker_index') }}" class="btn btn-primary" role="button">Powrót do listy pracowników</a>
{% endblock %}
