<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Krzysztof Kromolicki">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Task Manager{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{{ path('project_index') }}">Projekty</a></li>
                <li role="presentation"><a href="{{ path('customer_index') }}">Klienci</a></li>
                <li role="presentation"><a href="{{ path('worker_index') }}">Pracownicy</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Manager Zadań</h3>
    </div>

    {% block body %}

    {% endblock %}

    <footer class="footer">
        <br>
        <br>
        <br>
        <br>
        <p>
            <a href="http://task-manager.webbag.pl">TaskManager</a>
            2018
            <a href="https://github.com/webbag/task-manager" target="_blank">GitHub</a></p>
    </footer>

</div>

{% block javascripts %}

{% endblock %}
</body>
</html>


