{% extends 'base.html.twig' %}

{% block body %}
    <h3>Edycja klienta</h3>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-success" value="Zapisz">
    {{ form_end(edit_form) }}


    <br>
    <a href="{{ path('customer_index') }}" class="btn btn-primary" role="button">Powrót do listy klientów</a>
    <br>
    <br>
{% endblock %}
