{% extends 'base.html.twig' %}

{% block body %}
    <h3>Klienci</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.cuName }}</td>
                <td>
                    <a href="{{ path('customer_edit', { 'id': customer.cuId }) }}" class="btn btn-primary"
                       role="button">Edycja</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_new') }}" class="btn btn-primary" role="button">Dodaj</a>
{% endblock %}
